.image-box {
  background-repeat: no-repeat;
  background-position: center center;

  justify-content: center;
  align-content: center;
  background-size: contain;

  width: 15%;
  height: 0;
  padding-top: 16%; /* (img-height / img-width * container-width) */
  /* (150 / 150 * 50) */
  background-color: #17234d;
  display: table-cell;
}
.container {
  display: table;
  margin: 1vw;
  color: white;

}

.text-box {
  margin-top: 1vw;
  padding: 0.8vw;
  background-color: #233778;
  width: 78vw;
  max-height: 30vw;
  margin-bottom: 5vw;
  display: table-cell;
}
