.image-box {
  background-repeat: no-repeat;
  background-position: center center;

  justify-content: center;
  align-content: center;
  background-size: contain;
  width: 15%;
  height: 0;
  padding-top: 15%; /* (img-height / img-width * container-width) */
  /* (150 / 150 * 50) */
  margin-bottom: 2vw;
  background-color: #17234d;
  display: table-cell;
}
.container {
  content: "";
  font-size: 1.8vw;
  display: table;
  margin: 16px;
  color: white;
}

.text-box {
  padding: 16px;
  background-color: #233778;
  width: 80vw;
  max-height: 30vw;
  margin-bottom: 5vw;
  display: table-cell;
}
