/* You can add global styles to this file, and also import other style files */
 body {
   background-color: #181526;
 }

* {
  margin: 0;
}

 * {
   font-family: silkscreen;
 }

@font-face {
  font-family: silkscreen;
  src: url(slkscr.ttf);
}
