<header>

</header>

<nav>
  <ul>
    <li><a (click)="navigateTo('story')">Story</a></li>
    <li><a (click)="navigateTo('roadmap')">Roadmap</a></li>
    <li><a (click)="navigateTo('faq')">FAQ</a></li>
  </ul>
</nav>




<div  class="honshu-gif">

  <h1 id="story" class="story">Story</h1>
  <p class="story-text">

    There was a time when the Gray Wolves inhabited the mountainous regions in Japan, being venerated as protective Gods of humanity by the Shinto religion.

    These particular subspecies, known as Honshū Wolves, were adored and fed by the Japanese farmers, becoming tame and friendly to the humans overtime.

    In a quite unfortunate turn of events, due to a rabies epidemic and being hunted down, they were inevitably extinct in the early 20th century.

    After a millennium, in the year 3049, humans now share their daily lives between the real and virtual worlds. A group, in an attempt to amend the atrocities of past generations, decide to bring back the old Wolf Gods, recreating in the metaverse the world inhabited by Honshū Wolves programmed from bits and pieces of lost computer data.

    What these humans disregard is that the Honshū Wolves are not the same after the slaughter of their people, growing a deep resentment and a longing lust to avenge their ancestors and be the masters of the metaverse.
  </p>


  <h1 id="roadmap" class="road-map">ROADMAP</h1>
  <div class="col road-map-col">
    <app-road-map-box *ngFor="let box of RoadMap" [title]="box.title" [text]="box.text" [image]="box.image"></app-road-map-box>
  </div>


  <h1 id="faq" class="faq">FAQ</h1>

<div class="wrapper">
  <div class="col faq-col">
    <app-faq-box *ngFor="let faq of Faqs" [title]="faq.title" [text]="faq.text"></app-faq-box>

  </div>

</div>

</div>





