<header>

</header>
<nav>
  <ul>
    <li><a (click)="navigateTo('story')">Story</a></li>
    <li><a (click)="navigateTo('roadmap')">Roadmap</a></li>
    <li><a (click)="navigateTo('faq')">FAQ</a></li>
  </ul>
</nav>




<div  class="honshu-gif">

  <h1 id="story" class="story">Story</h1>
  <p class="story-text">

    There was a time when the Gray Wolves inhabited the mountainous regions in Japan, being venerated as protective Gods of humanity by the Shinto religion.

    These particular subspecies, known as Honshū Wolves, were adored and fed by the Japanese farmers, becoming tame and friendly to the humans overtime.

    In a quite unfortunate turn of events, due to a rabies epidemic and being hunted down, they were inevitably extinct in the early 20th century.

    After a millennium, in the year 3049, humans now share their daily lives between the real and virtual worlds. A group, in an attempt to amend the atrocities of past generations, decide to bring back the old Wolf Gods, recreating in the metaverse the world inhabited by Honshū Wolves programmed from bits and pieces of lost computer data.

    What these humans disregard is that the Honshū Wolves are not the same after the slaughter of their people, growing a deep resentment and a longing lust to avenge their ancestors and be the masters of the metaverse.
  </p>
  <h1 id="faq" class="faq">FAQ</h1>
  <p class="faq-text">

    - What is the meaning of Honshū Wolves NFTs?

    "Honshū Wolves NFTs" is a collection of Wolves, inspired by the real Honshū Wolves that were extinct in 1905 in Japan, built on the Solana Network.

    - What is the supply?

    The total supply will be 2,222 unique Honshū Wolves.

    - When is the launch date?

    Public release will be confirmed soon. To be updated on developments and progress, please join our Discord and Twitter for updates!

    - What is the name of your token and how can I get it?

    Honshū is the utility token of the Honshūverse that will be used for the launch of Gen 2. You can get it by holding your Honshū NFTs in your wallet.

    - Do you have plans to create a DAO vault?

    Yes, 50% of our royalties will be used for giveaways, promotions and future plans for Honshū Wolves decided by our DAO.</p>
    <div id="roadmap" class="road-map">

    </div>

</div>




